<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<nav th:replace="fragment :: page-header"></nav>
<h1>Add Review</h1>

<form  method="post" style="max-width:600px;">

    <div class="form-group">
        <label th:for="comments">Add Comment</label>
        <input  th:field="${review.comments}" />
        <span th:errors="${review.comments}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="rating">Add Rating</label>
        <select th:field="${review.rating}">
            <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}">
            </option>
        </select>

    </div>
    <p>Current Date: <span th:text="${currentDate}"></span></p>

    <div class="form-group">

        <select name="hId">
            <option th:each="hotel : ${hotels}" th:value="${hotel.hId}" th:text="${hotel.hotelName}"></option>
        </select>

    </div  >

    <div class="form-group" >
        <input type="submit" value="Add Review" />
    </div  >
</form>

</body>
</html>