<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:replace="fragment :: page-header"></nav>
<form method="post" >
    <label>Name</label>

    <input  th:field="${hotel.hotelName}" /><br>

    <label>Title</label>

    <input  th:field="${hotel.location}" /><br>

    <input type = "submit" value ="add hotel">
</form>

</body>
</html>