<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" >

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<nav th:replace="fragment :: page-header"></nav>
<section>
<div class = "welcome">
    <h1 class="sold"> Welcome To Hotel Management App</h1>
</div>
</section>
</body>
</html>