<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav th:replace="fragment :: page-header"></nav>
<div>
    <h2>Hotels</h2>
    <ul>
        <li th:each="hotel: ${hotels}">
            <a th:href="@{'/view/' + ${hotel.hId}}" th:text="${hotel.hotelName}"></a>

        </li>
    </ul>
</div>

<!--/*--> <div>

    <p> Reviews:
    <ul>
        <li th:each="hotel : ${hotel.reviews}">

            <p th:text="${'Rating: ' + hotel.review.rating}">rating</p>
            <p th:text="${'Comment: '+ hotel.review.comments}">comments</p>
        </li>
    </ul>
    </p>
</div><!--*/-->

</body>
</html>